# VirtualBox shared folder workaround:
# node_modules is installed at /home/ken/.ghostmeter-frontend-modules/node_modules
# (vboxsf does not support symlinks required by npm)
# Run: cd /home/ken/.ghostmeter-frontend-modules && npm install --no-bin-links
