# PostgreSQL
POSTGRES_USER=ghostmeter
POSTGRES_PASSWORD=ghostmeter
POSTGRES_DB=ghostmeter
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

# Backend
APP_NAME=GhostMeter
APP_VERSION=0.1.0
DEBUG=true
LOG_LEVEL=INFO
