# App
APP_NAME=GhostMeter
DEBUG=false
LOG_LEVEL=INFO

# PostgreSQL
POSTGRES_USER=ghostmeter
POSTGRES_PASSWORD=ghostmeter
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ghostmeter

# Modbus TCP
MODBUS_HOST=0.0.0.0
MODBUS_PORT=502

# SNMP
SNMP_PORT=10161
SNMP_COMMUNITY=public

# OPC UA
OPCUA_HOST=0.0.0.0
OPCUA_PORT=4840
OPCUA_ENDPOINT_PATH=/ghostmeter/server/
OPCUA_SERVER_NAME=GhostMeter OPC UA Server
OPCUA_NAMESPACE_URI=http://ghostmeter.local/opcua/
