.device-detail-title .ant-typography-edit {
  margin-left: 12px;
  color: #bfbfbf;
  font-size: 16px;
  border: none;
  box-shadow: none;
  outline: none;
  transition: color 0.2s;
}

.device-detail-title .ant-typography-edit:hover {
  color: #595959;
}

.device-detail-title .ant-typography-edit:focus,
.device-detail-title .ant-typography-edit:active {
  color: #bfbfbf;
  border: none;
  box-shadow: none;
  outline: none;
}

.device-detail-desc .ant-typography-edit {
  margin-left: 8px;
  color: #bfbfbf;
  font-size: 13px;
  border: none;
  box-shadow: none;
  outline: none;
  transition: color 0.2s;
}

.device-detail-desc .ant-typography-edit:hover {
  color: #595959;
}

.device-detail-desc .ant-typography-edit:focus,
.device-detail-desc .ant-typography-edit:active {
  color: #bfbfbf;
  border: none;
  box-shadow: none;
  outline: none;
}
